<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
</head>
<body>

<h1>Create Customer: </h1>

<form th:object="${customer}" th:action="@{/customeradd}" method="post">
    <div>
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" th:field="*{firstName}"/>
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastNAme" type="text" th:field="*{lastName}"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" th:field="*{email}"/>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" th:field="*{phone}"/>
    </div>
    <button type="submit">SAVE</button>
</form>


</body>
</html>