<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>JavaBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/ag/resources/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <script src="https://use.fontawesome.com/86f2de2eec.js"></script>
</head>
<body>

<div th:fragment="alert" th:if="${alert != null}" >
    <p class="alert alert-success" th:text="${alert}"></p>
</div>


<div th:fragment="header" class="top-bar row">
    <div class="col">
        <h1 class="logo">A. G. Banking</h1>
    </div>
    <!--
    <div class="col">
        <img style="float:right" src="/ag/resources/images/dollar.gif" height="100px" width="auto">
    </div>-->
    <hr>
</div>



</body>

<footer th:fragment="footer">


        <i class="fa fa-copyright" aria-hidden="true"></i>
          André Gouveia & AcademiaDeCodigo


</footer>

</html>